/*.bb
/*.bbg
/*.da
/*.gcov
/*.pid
/.deps
/Makefile
/Makefile.in
/aes-test
/arcfour-test
/blowfish-test
/cast128-test
/des-test
/dsa-test
/foo
/foo.pub
/large-dir
/lcp-file-*.txt
/md5-test
/parse-config-test
/rijndael-test
/rsa-test
/serpent-test
/server-config-test
/sha1-test
/sockaddr2info-test
/spki-tag-test
/string-test
/temphome
/test.out1
/test.out2
/twofish-test
/utf8-test
/yarrow-seed-file
