/*.d
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.make
/config.status
/configure
/spki-gperf.h
/spki-gperf.in
/spki-type-names.h
/spki-types.h
/stamp-h
/stamp-h.in
/INSTALL
/aclocal.m4
/config.guess
/config.sub
/install-sh
