/*.d
/*.x
/.deps
/.dist_classes
/.dist_headers
/Makefile
/Makefile.am
/Makefile.in
/atoms_defines.h
/atoms_gperf.c
/atoms_table.c
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/lsh
/lshd
/stamp-h
/stamp-h.in
